<div class="message-destroy-confirmation">
    <div class="confirm-modal modal-inner">
        <p class="confirmation">このメッセージを削除しますか</p>
        <div class="deleted-message message-container">
	        <div class="message-content">
	            <div class="user-prof">
		          <% if message.user.image? %>
                    <%= image_tag message.user.image.url %>
                  <% else %>
                    <%= image_tag  '1907765.jpg' %>
                  <% end %>
		          <p class="message-user-name">
		            <%= message.user.name %>
		          </p>
		        </div>
		        <p class="content">
		          <%= message.content %>
		        </p>
		        <% if message.image? %>
		          <%= image_tag message.image.url, class: 'message-image' %>
		        <% end %>
	        </div>
       </div>
       <div class="button-group">
	     <%= link_to 'キャンセル', room_path(message.room), class: 'cancel btn' %>
         <%= link_to '削除', message_path(message), method: :delete, class: 'delete btn'%>
       </div>
    </div>
</div>

<script>
$(function(){
	$('.cancel').click(function(){
		$('.message-destroy-confirmation').fadeOut();
	});
});
</script>