<div class="message-edit-form">
	<div class="form-modal modal-inner clearfix">
      <h2 class="message-edit-heading">
        メッセージ編集
      </h2>
      <button class="close-btn">
        <i class="fas fa-times"></i>
      </button>
      <div class="message-user-icon">
        <% if message.user.image? %>
          <%= image_tag message.user.image.url %>
        <% else %>
          <%= image_tag '1907765.jpg' %>
        <% end %>
        <p class="message-user-name">
          <%= message.user.name %>
        </p>
      </div>
      <%= form_with(model: message, class: 'edit-form', method: :put, local: true) do |f| %>
        <div class="input-area">
            <% f.hidden_field :room_id %>		  
            <div class="edit-flex-textarea">
              <div class="edit-textarea-dummy"></div>
              <%= f.text_area :content , class: 'textarea'%>
            </div>
    		<%= f.file_field :image , class: 'imgarea', id: 'edited_img'%> 
    		<% if message.image? %>
    		  <%= image_tag message.image.url , class: 'img-preview-area img-exist' %>
        <% else %>
          <img src="#" alt="プレビュー" class="img-preview-area no-img">
    		<% end %>
        </div>
        <div class="img-input-area">
          <label for="edited_img" class="dummy-file-field">
            <i class="fas fa-file-image"></i>
            <p>画像</p>
          </label>
          <div class="img-delete-group">
            <%= f.check_box :remove_image , class: 'img-delete-btn' %>
            <p class="img-delete">画像を削除する</p>
          </div>
        </div>
		<%= f.submit '編集' , class: 'submit-btn'%>
	  <% end %>
	</div>
</div>