<div class="message-container">
	<div class="message-content" id="<%= message.id %>">
	    <div class="user-prof">
		  <% if message.user.image? %>
            <%= image_tag message.user.image.url %>
          <% else %>
            <%= image_tag  '1907765.jpg' %>
          <% end %>
		  <p class="message-user-name">
		    <%= message.user.name %>
		  </p>
		</div>
		<p class="content">
		    <%= safe_join(message.content.split("\n"), tag(:br)) %>
		</p>
		<% if message.image? %>
		    <%= image_tag message.image.url, class: 'message-image' %>
		<% end %>
		<time class="date">
		  <%= message.created_at %>
		</time>

		<button class="message-menu">
		  <i class="fas fa-ellipsis-h menu-btn" onclick="
		    if($(this).hasClass('show')){
			    $(this).removeClass('show');
		    }else{
			    $(this).addClass('show');
		    }
		  "></i>
		  <nav class="message-menu-nav">
		    <ul>
			  <li class="message-nav-item">
			    <%= link_to 'メッセージ編集', edit_message_path(message), remote: true, class: 'link-nav edit-link'%>
			  </li>
				
			  <li class="message-nav-item">
			    <%= link_to 'メッセージを削除', msg_destroy_confirm_path(message), remote: true, class: 'link-nav delete-link' %>
			  </li>
			</ul>
		  </nav>
		</button>
	</div>
</div>
