<div class="user-desc-wrapper">
  <div class="user-thumb">
    <% if @user.image? %>
      <%= image_tag @user.image.url %>
    <% else %>
      <%= image_tag '1907765.jpg' %>
    <% end %>
  </div>
  <p class="user-name">
    <%= @user.name %>
  </p>

  <div class="user-prof">
    <% if @user.prof %>
      <%= safe_join(@user.prof.split("\n"), tag(:br)) %>
    <% end %>
  </div>

  <div class="user-rooms">
    <div class="room-tabs">
      <%= link_to(create_index_path, remote: true) do %>
        <button class="tab show create_room">
          作成したルーム
        </button>
      <% end %>

      <%= link_to(participating_index_path, remote: true) do %>
    	  <button class="tab participating_room"> 
          参加中のルーム
        </button>
      <% end %>
      
      <div class="tab-content create_room_content">
        <%= render 'layouts/room-index', rooms: @rooms %>
      </div>

    </div>
  </div>
</div>

<script>
  $(function(){
      $('.tab').click(function(){
          $('.tab').removeClass('show');
          $(this).addClass('show');
      });
  });
</script>