<h2 class="index-heading">ルーム一覧</h2>

<div class="rooms-wrapper">
    <% if logged_in? %>
      <div class="room-index">
    	  <div class="tabs room-tabs">
            <%= link_to(root_path, remote: true) do %>
    	      <button class="tab all_room show" for="all_room">
              　　ルーム一覧
              </button>
            <% end %>
    	    
            <%= link_to(create_index_path, remote: true) do %>
              <button class="tab create_room">
                作成したルーム
              </button>
            <% end %>

            <%= link_to(participating_index_path, remote: true) do %>
    	      <button class="tab participating_room"> 
                参加中のルーム
              </button>
            <% end %>
    	    
    	    <div class="tab-content">
    	      <%= render 'layouts/room-index', rooms: @rooms %>
    	    </div>
    	  </div>
      </div>
    <% else %>
      <%= render 'layouts/room-index', rooms: @rooms %>
    <% end %>
</div>

<script>
  $(function(){
      $('.tab').click(function(){
          $('.tab').removeClass('show');
          $(this).addClass('show');
      });
  });
</script>