<%= javascript_pack_tag 'rooms/show' %>

<style>
  .background{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    background-image: url('<%= @room.image.url %>');
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;      background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
</style>

<% if @room.image? %>
  <div class="background">
  </div>
<% end %>

<div class="room-header">
  <h2 class="room-name">
    <%= @room.name %>
  </h2>
  <div class="room-menu">
    <button class="room-menu-btn">
      <i class="fas fa-ellipsis-v"></i>
    </button>
    <nav class="room-nav">
      <ul>
        <% if @room.host_id == current_user.id %>
          <li>
            <%= link_to 'ルームを編集', edit_room_path(@room) %>
          </li>
          <li>
            <%= link_to 'ルームを削除', room_path(@room), method: :delete %>
          </li>
        <% end %>
        <li>
          <a href="#">メンバー一覧</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="message-list" id="message-container" data-room=<%= @room.id %>>
  <% @messages.each do |message| %>
    <%= render 'messages/message', message: message, user: message.user %>
  <% end %>
</div>

<div class="form-area">
  <%= form_with(model: @message) do |f| %>
    <%= f.hidden_field :room_id %>

    <div class="message-input">
      <div class="flex-textarea">
        <div class="textarea-dummy"></div>
        <%= f.text_area :content, class: 'auto-resize' %>
      </div>
      <div class="image-preview-area">
        <div class="img-wrapper">
          <i class="fas fa-times close"></i>
          <img src="#" alt="プレビュー" id="image-preview">
        </div>
      </div>
    </div>

    <div class="image-input">
      <%= f.label :image, '画像'%>
      <%= f.file_field :image %>
    </div>

    <div class="submit-btn">
      <%= f.submit '送信', class: 'submit' %>
    </div>

  <% end %>
</div>

<script type="text/javascript">
　document.addEventListener('DOMContentLoaded', () => {
    const roomNav = $('.room-nav');
    $('.room-menu-btn').click(function(){
      if(roomNav.hasClass('show')){
        roomNav.removeClass('show');
      }else{
        roomNav.addClass('show');
      }
    });
  });
</script>
