<header class="header">
  <div class="header-top">
    <%= link_to 'Chat_practice', root_path, class: 'header-logo-title' %>
      <% if logged_in? %>
        <%= link_to(user_path(current_user)) do %>
          <div class="user-icon">
            <div class="user-img-area">
              <% if current_user.image? %>
                <%= image_tag current_user.image.url %>
              <% else %>
                <%= image_tag  '1907765.jpg' %>
              <% end %>
            </div>
            <p class="user-name">
              <%= current_user.name %>
            </p>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="header-bottom">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <% if logged_in? %>
          <%= form_with(url: search_path, local: true, method: :get,class: 'search-box') do |f| %>
            <%= f.text_field :search , class: 'search-input' %>
            <button type="submit" name="commit" value="search" aria-hidden="true" class="search-btn">
              <i class="fas fa-search"></i>
            </button>
          <% end %>
          <li class="header-nav-item">
            <%= link_to 'ルーム作成', new_room_path %>
          </li>
          <li class="header-nav-item">
            <a href="/logout" data-method="delete">ログアウト</a>
          </li>
          <li class="header-nav-item">
            <%= link_to 'アカウント編集', edit_user_path(current_user) %>
          </li>
          <li class="header-nav-item">
            <%= link_to '退会', user_path(current_user), method: :delete %>
          </li>
        <% else %>
          <li class="header-nav-item">
            <%= link_to 'ログイン', login_path, remote: true %> 
          </li>
          <li class="header-nav-item">
            <a href="/users/new">ユーザー登録</a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

  <% if logged_in? %>
  <%= form_with(url: search_path, local: true, method: :get,class: 'sp-search search-box') do |f| %>
    <%= f.text_field :search , class: 'search-input' %>
    <button type="submit" name="commit" value="search" aria-hidden="true" class="search-btn">
        <i class="fas fa-search"></i>
    </button>
  <% end %>
  <div class="sp-hamburger">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
  </div>

  <div class="sp-menu">
    <nav class="sp-nav">
      <%= link_to user_path(current_user) do %>
        <div class="user-icon">
          <div class="user-img-area">
            <% if current_user.image? %>
              <%= image_tag current_user.image.url %>
            <% else %>
              <%= image_tag  '1907765.jpg' %>
            <% end %>
          </div>
          <p class="user-name">
            <%= current_user.name %>
          </p>
        </div>
      <% end %>
      <ul>
        <li class="sp-nav-item">
          <%= link_to(new_room_path) do %>
            <i class="fas fa-door-open"></i>
            ルーム作成
          <% end %>
        </li>
        <li class="sp-nav-item">
          <%= link_to(logout_path, method: :delete) do %>
            <i class="fas fa-sign-out-alt icon"></i>
            ログアウト
          <% end %>
        </li>
        <li class="sp-nav-item">
          <%= link_to(edit_user_path(current_user)) do %>
            <i class="fas fa-users-cog icon"></i>
            ユーザー編集
          <% end %>
        </li>
        <li class="sp-nav-item">
          <%= link_to '退会', user_path(current_user), method: :delete, class: 'withdrawl-link' %>
        </li>
      </ul>
    </nav>
  </div>
 <% else %>
 <div class="sp-header-right">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <%= link_to 'ログイン', login_path, remote: true %>
        </li>
        <li class="header-nav-item">
          <%= link_to 'ユーザー登録', new_user_path %>
        </li>
      </ul>
    </nav>
  </div>
  <% end %>
</header>
