<header class="header">
  <div class="header-top">
    <%= link_to 'Chat_practice', root_path, class: 'header-logo-title' %>
      <% if logged_in? %>
        <%= link_to(user_path(current_user)) do %>
          <div class="user-icon">
            <div class="user-img-area">
              <% if current_user.image? %>
                <%= image_tag current_user.image.url %>
              <% else %>
                <%= image_tag  '1907765.jpg' %>
              <% end %>
            </div>
            <p class="user-name">
              <%= current_user.name %>
            </p>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="header-bottom">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <% if logged_in? %>
          <li class="header-nav-item">
            <%= link_to 'ルーム作成', new_room_path %>
          </li>
          <li class="header-nav-item">
            <a href="/logout" data-method="delete">ログアウト</a>
          </li>
          <li class="header-nav-item">
            <%= link_to 'アカウント編集', edit_user_path(current_user) %>
          </li>
          <li class="header-nav-item">
            <%= link_to '退会', user_path(current_user), method: :delete %>
          </li>
        <% else %>
          <li class="header-nav-item">
            <a href="/login">ログイン</a>
          </li>
          <li class="header-nav-item">
            <a href="/users/new">ユーザー登録</a>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>

</header>

<div class="sp-hamburger">
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
    <span class="hamburger-bar"></span>
</div>

<div class="sp-menu">
  <nav class="sp-nav">
    <% if logged_in? %>
      <div class="user-icon">
        <div class="user-img-area">
          <% if current_user.image? %>
            <%= image_tag current_user.image.url %>
          <% else %>
            <%= image_tag  '1907765.jpg' %>
          <% end %>
        </div>
        <p class="user-name">
          <%= current_user.name %>
        </p>
      </div>
      <ul>
        <li class="sp-nav-item">
          <%= link_to 'ルーム作成', new_room_path %>
        </li>
        <li class="sp-nav-item">
          <i class="fas fa-sign-out-alt icon"></i>
          <%= link_to 'ログアウト', logout_path, method: :delete %>
        </li>
        <li class="sp-nav-item">
          <i class="fas fa-users-cog icon"></i>
          <%= link_to 'アカウント編集', edit_user_path(current_user) %>
        </li>
        <li class="sp-nav-item">
          <%= link_to '退会', user_path(current_user), method: :delete, class: 'withdrawl-link' %>
        </li>
      </ul>
    <% else %>
      <ul>
        <li class="sp-nav-item">
          <i class="fas fa-sign-in-alt icon"></i>
          <a href="/login">ログイン</a>
        </li>
        <li class="sp-nav-item">
          <i class="fas fa-user-plus icon"></i>
          <a href="/users/new">ユーザー登録</a>
        </li>
      </ul>
    <% end %>
  </nav>
</div>