<div class="rooms">
  <ul class="room-list">
    <% rooms.each do |room| %>
      <li class="room">
        <div class="room-card">
          <div class="image-area">
            <% if room.image? %>
              <%= image_tag room.image.url %>
            <% end %>
          </div>
          <h3 class="room-name">
            <%= room.name %>
          </h3>
          <% room_users = room.participating_users.all %>
          <% if logged_in? %>
            <% if room_users.where(id: current_user.id).exists? %>
              <%= link_to '参加', room_path(room), class: 'enter-btn'%>
            <% else %>
              <%= link_to '参加', join_confirm_room_path(room), remote: true, class: "enter-btn join-btn" %>
            <% end %>
          <% else %>
            <%= link_to '参加', login_path, remote: true, class: 'enter-btn' %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate rooms, remote: true %>
</div>