<!DOCTYPE html>
<html>
  <head>
    <title>ChatPracticeV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js"></script>
  </head>

  <body>
    <div class="wrapper clearfix">
      <%= render 'layouts/header.html.erb' %>
      <main class="main">
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
